.App {
  text-align: center;
}

.App-header {
  background-color: cadetblue;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.list-container {
  max-height: 500px;
  overflow-y: auto;
  width: 50%;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

input[type="text"]:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0.5rem 0;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

nav {
  background-color: #333;
  padding: 1rem;
  font-size: x-large;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #555;
}

nav a.active {
  border-bottom: 2px solid #61dafb;
}

.sheep-table {
  width: 30%;
  border-collapse: collapse;
  margin-top: 20px;
}

.sheep-table th,
.sheep-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.sheep-table th {
  background-color: #333;
}

.sheep-table tr:nth-child(even) {
  background-color: cadetblue;
}

.sheep-table tr:hover {
  background-color: #555;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .sheep-table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
  }
}
