.page {

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.sau-container {
  background-color: #f3f3f3;
  padding: 80px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px; 
  background-color: white;
  }
  
  .sau-detail {
    margin: 10px 0;
  }

